@import 'products';
@import 'cart';
@import 'payment';

body {
  margin: 0;
}
#root {
  max-width: 900px;
}

ul {
  list-style: none;
  padding: 0 ;
}

.gnb {
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}